profiles {
    awsbatch {
        aws {
            region = 'eu-west-2'

            client {
                storageEncryption = 'AES256'
            }
        }

        process {
            executor  = 'awsbatch'
            container = 'job-definition://tw-quay-io-seqeralabs-nf-launcher-j17-22-10-1'
        }
    }
}
